@import "../../global.scss";


.works{
    background-color: crimson;

    align-items: center;
    flex-direction: column;
    justify-content: center;


    .Header-1{
        font-size: 50px;
        color: white;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        

    }

.First-property{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px ;
 
}

.omo-Ale{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 40px 40px;
    transition: all .2s ease-in-out; 

}

.omo-Ale:hover{
    transform: scale(1.1);
}


h3{
    align-items: center;
    color: white;
   
}

}
